<div class="content_index_restaurant">

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7" style="padding: 0px">

      <div class="row" style=" overflow:scroll; width:100%; height: 590px; margin:0px;">

        <div class="bandeau_index_restaurant col-xs-12" style="background-color:white">
          <p><strong> Filtrer par:</strong></p>
        </div>


          <% @restaurants.each do |restaurant| %>

            <div class="col-xs-12 col-sm-4">

              <div class="box_restaurant_index effect6">
                <% if restaurant.restaurant_pictures.first == nil %>
                  <p> pas de photo de dispo bitch </p>
                <% else %>
                  <%= image_tag restaurant.restaurant_pictures.first.picture(:medium) %>
                <% end %>
                <div class="name_restaurant_index">
                   <h5> <i class="fa fa-map-marker" style="font-size: 11px;"> 1,2km </i><%= link_to restaurant.name, restaurant_path(restaurant)%></h5>
                </div>
                <div class="description_index_restaurant">
                  <p><%= restaurant.description %></p>
                </div>
                <% rate_restaurant = [] %>
                <% @reviews.each do |review| %>

                    <% if review.restaurant_id == restaurant.id  %>
                      <% rate_restaurant << review.rate %>
                    <% end %>

                <% end %>

                <% if rate_restaurant != [] %>
                 <% average = rate_restaurant.sum/rate_restaurant.size %>
                <% if average == 1 %>
                  <span style="color:orange;">★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                <% elsif average == 2 %>
                  <span style="color:orange;">★</span><span style="color:orange;">★</span><span>★</span><span>★</span><span>★</span>
                <% elsif average == 3 %>
                  <span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span><span>★</span><span>★</span>
                <% elsif average == 4 %>
                  <span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span><span>★</span>
                <% elsif average == 5 %>
                  <span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span><span style="color:orange;">★</span>
        <% end %>
                <% else %>
                  <p> soyez le premier à noter ce restaurant <p>
                <% end %>





                <!--   <%= link_to "Delete", restaurant_path(restaurant),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %> -->
              </div>

            </div>

          <% end %>
        </div>
      </div>
    <div class="col-xs-12 col-sm-5" style="padding: 0px">
      <div id="map" style="width: 110%; height: 590px; margin-rigth: 0px; margin-bottom: 0px;">
      </div>
    </div>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


</div>