<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-7">

      <h1><%= @restaurant.name %></h1>

      <% @restaurant.restaurant_pictures.each do |restaurant_picture| %>

        <% if restaurant_picture.nil? %>

        <p> pas de photo de dispo bitch </p>

      <% else %>
      <%= image_tag restaurant_picture.picture(:banner) %>

      <% end %>

      <% end %>
    </div>
  </div>
</div>


<p><%= @restaurant.description %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-6">
      <% reviews = Review.where(restaurant_id: @restaurant.id) %>
        <% if reviews.nil? %>
          <p> Ajoutez le premier commentaire <p>
        <% else %>
          <% rate_restaurant = [] %>
            <% reviews.each do |review| %>
              <% rate_restaurant << review.rate %>
            <% end %>
          <% average = rate_restaurant.sum/rate_restaurant.size %>
            <% if rate_restaurant != [] %>
  <div style="font-size: 18px; padding-bottom: 25px; border-bottom: 1px solid #1ABC9C;">
    <strong><%= reviews.size %> commentaires
        <% if average == 1 %>
          <span style="color:#1ABC9C;">★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <% elsif average == 2 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span><span>★</span><span>★</span>
        <% elsif average == 3 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span><span>★</span>
        <% elsif average == 4 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span>
        <% elsif average == 5 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span>
        <% end %> </strong>
  </div>
      <% end %>




    <% reviews.each do |review| %>
    <div class="col-sm-3">
    </div>
      <div class="col-sm-9 comment_box">
        <p style="padding-bottom: 0px;  margin: 0px; font-size: 18px;"> <strong> <%= review.title %> </strong>
        <% if review.rate == 1 %>
          <span style="color:#1ABC9C;">★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        <% elsif review.rate == 2 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span><span>★</span><span>★</span>
        <% elsif review.rate == 3 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span><span>★</span>
        <% elsif review.rate == 4 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span>★</span>
        <% elsif review.rate == 5 %>
          <span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span><span style="color:#1ABC9C;">★</span>
        <% end %></p>

        <p style="font-size: 10px;"> Avis écrit le <%= review.created_at.to_formatted_s(:short) %> </p>
        <div class="description">
          <%= review.comment %>
        </div>
<!--
       <%= link_to 'Supprimer', review, method: :delete, alert: { confirm: 'Are you sure?' }, style: "color: white;", class: "btn btn-danger" %> -->
</div>
    <% end %>

  <% end %>



<!-- FORM ADD COMMENT -->

<%= form_for(Review.new) do |f| %>
      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div class="field">
        <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
      </div>

      <div class="field">
      <%= f.label :title, "Votre titre" %><br>
      <%= f.text_field :title, class: "form-control", :placeholder => 'Enter votre titre...' %><br>
    </div>
    <div class="field">
      <%= f.label :comment, "Nouveau message" %><br>
      <%= f.text_area :comment, :rows => 4, class: "form-control", :placeholder => 'Enter votre message...' %><br>
    </div>

 <div class="rating rating2">
    <%= f.label :rate, '★', :for => "e5" %>
    <%= f.radio_button :rate, '5', :id => "e5"  %>
    <%= f.label :rate, '★', :for => "e4" %>
    <%= f.radio_button :rate, '4', :id => "e4"  %>
    <%= f.label :rate, '★', :for => "e3" %>
    <%= f.radio_button :rate, '3', :id => "e3"  %>
    <%= f.label :rate, '★', :for => "e2" %>
    <%= f.radio_button :rate, '2', :id => "e2"  %>
    <%= f.label :rate, '★', :for => "e1" %>
    <%= f.radio_button :rate, '1', :id => "e1"  %>

  </div>

    <div class="actions">
      <%= f.submit "commenter", class: "btn btn-success" %>
    </div>
  <% end %>
 </div>
  </div>
</div>




          <% menu = Menu.new(restaurant_id: @restaurant.id) %>


            <%= form_for([@restaurant, menu]) do |f| %>


            <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>





            <%= f.submit "Add menu", :class => 'btn btn-link' %>


            <% end %>
          </div>





